/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #4c4949;
  border-radius: 1rem;
  text-align: center;
  perspective: 1000px;
  height: 10rem;
  opacity: 0;
  animation: fadeIn 2s linear forwards;
  transition:
    box-shadow 0.3s ease,
    transform 1s ease;
}
.card:hover {
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.cards-grid .card:nth-child(2) {
  animation-delay: 0.2s;
}
.cards-grid .card:nth-child(3) {
  animation-delay: 0.4s;
}
.cards-grid .card:nth-child(4) {
  animation-delay: 0.6s;
}
.cards-grid .card:nth-child(5) {
  animation-delay: 0.8s;
}
.cards-grid .card:nth-child(6) {
  animation-delay: 1s;
}
.card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
