* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  text-align: center;
  width: 100vw;

}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.sidebar {
  background-color: #1b4c7d;
  text-align: center;
}
.sidebar h2 {
  font-size: 2rem;
  margin: 0.7rem;
}
ul {
  list-style: none;
  text-align: left;
}
.sidebar nav {
  padding: 10px;
}
li {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}
li:hover {
  background-color: #18426d;
  transform: scale(1.08);
}
.main-content{
    margin: 1rem;
}
.top-bar{
    padding: 1rem;
}
.top-bar h1{
    color: rgb(255, 255, 255);
    margin-bottom: 0.1rem;
}
.top-bar p{
    font-size: large;
}
.stat-card{
    background: #32b7ef;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}
.stat-card h3{
    background-color: rgba(255, 255, 255, 0.19);
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.stat-number{
    background-color: rgba(255, 255, 255, 0.19);
    padding: 0.5rem;
    margin-top: 0.1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.content-area{
    margin: 1rem;
}
.content-area h2{
   color: rgb(255, 255, 255);
    margin-bottom: 0.5rem; 
}
@media (max-width: 768px) {
  .sidebar{
    display: none;
  }
  .stats-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}