* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
img {
  width: 100px;
  border-radius: 100px;
  padding: 10px;
  transition: all 0.3s ease;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #383838;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.line {
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  font-weight: bolder;
  font-size: 1.4rem;
}
ul li{
  transition: all 0.3s ease;
  cursor: pointer;
}
.humb {
  display: none;
}
img:hover {
  transform: scale(1.1);
}
li:hover {
  transform: scale(1.1);
  color: aqua;
}

@media (max-width: 768px) {
  ul {
    display: none;
  }
  .humb {
    display: inline;
    border-radius: 100%;
    padding: 10px;
  }
}