/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
  height: 100vh;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.144);
  animation: slidedown 1s ease-in forwards;
}
.logo {
  font-weight: bolder;
  font-size: x-large;
}
ul {
  list-style: none;
}
li {
  padding: 1rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  height: 60%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.144);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  font-size: 3rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.615);
  animation: slideUpandFadeIn 1s ease-in forwards;
}
.hero-subtitle {
  margin: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.8s;
}
.cta-button {
  opacity: 0;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: whitesmoke;
  background-color: rgb(53, 145, 198);
  border: none;
  border-radius: 10px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
  transition: transform 0.3s ease;
}
.cta-button:hover {
  transform: scale(1.5);
}
.hero-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.floating-card {
  font-size: 4rem;
  margin: 1rem;
  animation: upAndDowm 2s ease infinite;
}
.hero-image .floating-card:nth-child(2) {
  animation-delay: 0.1s;
}
.hero-image .floating-card:nth-child(3) {
  animation-delay: 0.2s;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 1rem;
}
.feature-card {
  border-bottom: 1px solid rgba(245, 245, 245, 0.615);
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: rgba(245, 245, 245, 0.229);
  padding: 1rem;
  height: 7rem;
  width: 15rem;
  text-align: center;
  opacity: 0;
  transform: translateY(500%);
  animation: slideup 1s ease-in forwards;
}
.feature-card h3 {
  margin: 0.2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.615);
}
.feature-card p {
  margin: 0.5rem;
}
.features .feature-card:nth-child(1) {
  animation-delay: 1s;
}
.features .feature-card:nth-child(2) {
  animation-delay: 1.2s;
}
.features .feature-card:nth-child(3) {
  animation-delay: 1.4s;
}
@keyframes slidedown {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(0);
  }
}

@keyframes slideUpandFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%); /* can use px */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upAndDowm {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideup {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
