* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid aliceblue;
}
th,
td {
  vertical-align: top;
  border: 1px solid aliceblue;
  padding: 0.3em;
  text-align: center;
}
th {
  background-color: rgb(71, 71, 71);
}
td {
  transition: all 0.3s ease;
  cursor: pointer;
}
td:hover {
  color: aquamarine;
  transform: scale(1.04);
}
caption {
  padding: 1em;
  font-style: italic;
  letter-spacing: 1px;
}

tr :nth-child(4) {
  text-align: right;
  width: 15%;
}
tr :nth-child(1),
tr :nth-child(2),
tr :nth-child(3) {
  text-align: left;
  width: 35%;
}
@media (max-width: 768px) {
  table {
    width: 100%;
    font-size: 0.8rem;
  }
  th,
  td {
    padding: 0.5em 0.2em;
  }
  caption {
    font-size: 1rem;
  }
}
