* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background-color: #3a3a3a;
  border: 1px solid #9b9999;
  padding: 15px 10px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}
h2 {
  padding-bottom: 10px;
}
.required {
  color: red;
}
input,
textarea {
  border: none;
  margin: 5px 2px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #00bcd4;
}
.form-group {
  margin-bottom: 12px;
  text-align: left;
}
button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0097a7;
  transform: scale(1.04);
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
/* no need for small screen as it works every were  */
