* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: antiquewhite;
}
h1 {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-style: italic;
}
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.features {
  list-style: none;
}
.pricing-card {
  background-color: #2d8278;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  box-shadow: 0 10px 25px rgba(173, 173, 173, 0.1);
  position: relative;
}
.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
}
h2 {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 30px;
}
p {
  margin: 10px;
  font-size: large;
}
button {
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #4bc9ba;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: #fff;
}
.pricing-card.featured {
  transform: scale(1.05);
  background: #256b44;
  border: 2px solid red;
}
.badge {
  position: absolute;
  top: -13px;
  right: 11px;
  background-color: red;
  padding: 5px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}
.container {
  padding: 10px;
}
